@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* @media (max-width:800px){

} */

:root{
    --purple: rgba(210,206,255,255);
    --blue: rgba(209,229,247,255);
    --red: rgba(255,206,206,255);
    --green: rgba(218,242,214,255);
    --yellow: rgba(255,249,222,255);
    --p: rgba(255,249,222,255);
    --select: rgb(250, 249, 248);
    --t: rgb(105, 102, 92);
    --ts: #B2AFA1;
    --bg: #FFFFFF;
    --debug: 1px red solid;
    --hover: rgb(249,249,248);


}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track
  ::-webkit-scrollbar-track {
    background: var(--hover);
  } */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--t);
    border-radius: min(100vh, 100vw);
  }

html{
    background-color: var(--bg);
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 3rem;
    color: var(--t);
    overflow-x: hidden;
}


.container{
    display: grid;
    grid: 1fr 10fr / minmax(150px, 1fr) 5fr;
    gap: 2rem;
}

.select{
    position:absolute;
    background-color: rgb(0,0,0,0.25);
    left:0;
    top:0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.3s all ease;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}



.modal {
    background-color: var(--bg);
    width: 60vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: calc(100vh - 3rem);
    overflow: hidden;
    border-radius: 2rem;
    transition: 0.3s all ease;
}
.modal-inner{
    overflow: auto;
    padding: 2rem;
    height: 100%;
}




.modal .cancel{
    background-color: rgba(0,0,0,0);
    padding: 0.5rem 2rem 0.5rem 0rem;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: var(--t);
}

.modal .add{
    background-color: var(--t);
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: var(--bg);
}

.modal .buttons{
    display: flex;
    justify-content: space-between;
    
}
.add, .cancel{
    cursor: pointer;
}
.modal .add:hover{
    filter: brightness(90%);
}

.modal .cancel:hover{
    filter: brightness(10%);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--ts);
    opacity: 1; /* Firefox */
  }
.modal input{
    background-color: rgb(249,249,248);
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    height: 1.5rem;
    flex-grow: 1;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--t);
    width: 100%;
    min-width: none;
}

.modal textarea{
    resize: none;
    background-color: rgb(249,249,248);
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    height: 1.5rem;
    flex-grow: 1;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--t);
    width: 100%;
    min-width: none;
}

.modal input:focus, .modal textarea:focus{
    outline: 2px solid var(--t);
    flex-grow: 1;
}

.modal .tags{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.modal .inner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.modal .modal-author-pages{
    width: 100%;
    display: grid;
    grid: 1fr/ 2fr 1fr;
    gap: 3rem;
}
.modal .break{
    flex-basis: 100%;
}

.modal .desc{
    padding-bottom: 2rem;
}


@media (max-width:800px){
    .modal .buttons{
        align-self: baseline;
    }
    .modal{
        width: 100vw;
        min-height: 100vh;
        height: 100vh;
        margin: 0px;
        position: absolute;
        top: 0;
        border-radius: 0px;
        align-items: flex-end;
        padding: 0px;
    }

    .select{
        padding: 0px;
    }

    .tags{
        flex-direction: column;
    }
}
.header {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.plus{
    border-radius: 100vh;
    background-color: var(--bg);
    padding: 0.3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease 0.3s all;
}

.plus:hover{
    filter:brightness(0.95);
}

.header i{
    font-size: 2rem;
}
#logo{
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.filter{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease all 0.3s;
    min-width: 8rem;
}
.filter:hover{
    background-color: rgba(0,0,0,0.1);
}

.filterselect{
    transition: 0.3 all ease;
    background-color: rgba(0,0,0,0.1);
}
.filter div{
    pointer-events: none
}

.labels{
    display: flex;
    gap: 0.5rem;
}
.color{
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    flex-shrink: 0;
    pointer-events: none;
    transition: ease 0.3s all;
}

.color1{
    background-color: var(--purple);
    border: 2px solid var(--purple);
}

.color2{
    background-color: var(--blue);
    border: 2px solid var(--blue);
}

.color3{
    background-color: var(--red);
    border: 2px solid var(--red);
}

.color4{
    background-color: var(--green);
    border: 2px solid var(--green);
}

.hide-read{
    margin-left: 1rem;
    margin-top: 3rem;
    color: var(--ts);
    display: flex;
    gap: 0.3rem;
    align-items: center;
    transition: 0.3s all ease;
}

.hide-read p{
    width: 100%;
    min-width: fit-content;
}

.hide-read input, .read input{
    flex-shrink: 0;
    appearance: none;
    background-color: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid currentColor;
    border-radius: 0.5em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.hide-read input:hover, .read input:hover{
    filter: brightness(97%);
}

.hide-read input::before , .read input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--t);
    transform-origin: bottom left;
    border: 0.15em solid var(--t);
    clip-path: polygon(19% 38%, 30% 71%, 94% 11%, 100% 31%, 25% 100%, 0% 50%);
}

  .hide-read input:checked::before , .read input:checked::before{
    transform: scale(1);
    border: 0.15em solid var(--t);
  }

.read{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}




.content{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
    grid-template-rows: repeat( auto-fit, minmax(100px, 1fr) );
    gap: 1.5rem;
    width: 100%;
    height: fit-content;
} 

.item{
    background-color: var(--yellow);
    height: fit-content;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: 1s ease all;
}

.item .top, .item .title, .item .bottom{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.item .title i{
    font-size: 1.5rem;
    color: var(--ts);
    cursor: pointer;
}

.item .title i:hover{
    color: var(--t);
}


.item .author, .item .pages{
    margin-top: 0rem;
}
.item h3{
    margin-top: 0rem;
    margin-bottom: 0.3rem;
}

.item p{
    font-size: 14px;
    margin-top: 0rem;
}

.item .bottom {
    justify-self: flex-end;
    color: var(--ts);
}

.title .options-container {

    position: relative;
}
.title .options{
    visibility: hidden; 
    opacity: 0; 
    transform: scaleY(0.5) translateY(-2rem);
    position: absolute;
    border-radius: 0.5rem;
    top: 1.2rem;
    right: 0.3rem;
    background-color: var(--bg);
    color: var(--ts);
    overflow: hidden;
    font-size: 12px;
    z-index: 1;
    transition: ease all 0.15s;
}

.options p{
    margin: 0px;
    width: 7rem;
    padding: 1rem;
    
}

.options .options-edit{
    border-radius: 0.5rem 0.5rem 0 0 ;
    padding-bottom: 0.5rem;
    margin-bottom: 0px;
}

.options .options-delete{
    border-radius: 0 0 0.5rem 0.5rem  ;
    padding-top: 0.5rem;
    margin-top: 0px;
}
.options-delete:hover, .options-edit:hover{
    color: var(--t);
    background-color: rgb(0,0,0,0.05);
    cursor: pointer;
}
.options hr{
    border: none;
    margin-left: -100%;
    border-top: 1px solid rgb(243, 243, 243);
    width: 300%;
    margin-top: 0px;
    margin-bottom: 0px;
}
